[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
praw = "*"
tweepy = "*"
textblob = "*"
flask-cors = "*"
translate = "*"

[requires]
python_version = "3.6"
