[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
update = "bash ./update.sh"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
praw = "*"
tweepy = "*"
textblob = "*"
flask-cors = "*"
translate = "*"
gunicorn = "*"
pandas = "*"
xlrd = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
