[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dev = "python src/main.py"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
praw = "*"
tweepy = "*"
textblob = "*"
flask-cors = "*"
translate = "*"
gunicorn = "*"
pandas = "*"
xlrd = "*"
python-dotenv = "*"
googletrans = "*"
openpyxl = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.6.9"
